# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
ENV/
env/

# Environment / secrets
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs & temp
*.log
*.tmp

# Tests / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local notes
plansofar.txt

celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
